@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #f2f8fb;
  --foreground: #4b4b4b;
  --primary: #6db9ce;
  --white: #fffdfe;
  --white-secondary: #e9e7e8;
  --pure-white: #ffffff;
  --blue-secondary: #03a8d5;
  --green: #6bc26f;
  --green-secondary: #a3d9a5;
  --red: #ff3e50;
  --red-secondary: #ff8c97;
  --gray: #a2a2a2;
  --destructive: #ff3e50;
  --default-transition-duration: 200ms;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-blue-secondary: var(--blue-secondary);
  --color-white: var(--white);
  --color-white-secondary: var(--white-secondary);
  --color-pure-white: var(--pure-white);
  --color-green: var(--green);
  --color-green-secondary: var(--green-secondary);
  --color-red: var(--red);
  --color-red-secondary: var(--red-secondary);
  --color-destructive: var(--destructive);
  --color-gray: var(--gray);
  --breakpoint-lg: 106.25rem; /* 1700px */
  --breakpoint-md: 78.75rem; /* 1260px */
  --breakpoint-sm: 53.125rem; /* 850px */
  --breakpoint-xs: 35rem; /* 560px */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@utility button-shadow-* {
  box-shadow: 0px 4px 0px --value(--color-*);
}

html {
  overscroll-behavior: none;
}
